@charset "UTF-8";

@font-face {
  font-family: "Bender";
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: local("Bender Regular"), url("../fonts/Bender.woff2") format("woff2");
}

@font-face {
  font-family: "Bender";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Bender Bold"), url("../fonts/Bender-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Bender";
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local("Bender Italic"),
    url("../fonts/Bender-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Bender";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: local("Bender Bold Italic"),
    url("../fonts/Bender-Bold-Italic.woff2") format("woff2");
}

:root {
  color-scheme: dark;

  /* background colors */
  --bg-main-color: rgb(8, 8, 8);
  --bg-sec-color: rgb(21, 21, 21);

  /* font colors */
  --font-main-color: rgb(200, 200, 200);
  --font-sec-color: rgba(200, 200, 200, 0.8);
  --font-third-color: rgb(150, 136, 103);

  --border-color: rgba(200, 200, 200, 0.5);
}

html {
  font-size: clamp(18px, 0.92vw, 20px);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main-color);
  font-family: "Bender", "sans serif";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: var(--font-main-color);
}

a {
  color: var(--font-main-color);
  text-decoration: none;
}

a:hover {
  color: var(--font-sec-color);
}

header,
main,
footer {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

main {
  margin-top: 3rem;
  min-height: 30rem;
}

header {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .title {
  box-sizing: border-box;
  padding: 0 1rem;
}

header .title a {
  display: flex;
  align-items: center;
  color: unset;
}

header .title .logo {
  background: url("../img/logo.svg") no-repeat center;
  width: 7rem;
  height: 3.5rem;
}

header h1 {
  margin: 0 1.4rem;
}

header nav .menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 0.3rem;
  flex-wrap: wrap;
}

header nav .submenu {
  position: relative;
  cursor: default;
}

header nav .submenu,
header nav .menu > li > a:not(.image) {
  padding: 0.5rem;
  color: var(--bg-main-color);
  background-color: var(--font-main-color);
  transition: background-color 200ms linear;
}

header nav .submenu:hover,
header nav .menu > li > a:not(.image):hover {
  background-color: var(--font-sec-color);
}

header nav .menu > li > a {
  display: block;
  color: var(--bg-main-color);
}

header nav .submenu ul {
  box-sizing: border-box;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  right: 0;
  list-style: none;
  padding: 0.8rem;
  margin: 0.5rem 0 0 0;
  background-color: var(--bg-sec-color) !important;
  opacity: 0;
  filter: drop-shadow(0.2rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3));
  transition: opacity 200ms ease-in;
  width: max-content;
}

@media only screen and (max-width: 442px) {
  header nav .submenu ul {
    left: 0;
  }
}

header nav .submenu li a {
  display: block;
  padding: 0.3rem;
}

header nav .submenu:hover > ul {
  visibility: visible;
  opacity: 1;
}

.icon {
  user-select: none;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 5rem;
  gap: 1rem;
  justify-content: center;
}

.overview .item {
  box-sizing: content-box;
  max-width: 22rem;
  min-width: 13rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--bg-sec-color);
}

.overview .item > * {
  margin: 0 auto;
}

.overview .item .icon {
  width: 4rem;
  height: 4rem;
}

.overview .item .title {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem;
}

.overview .item .description {
  padding: 1rem;
  max-width: 20rem;
}

@media only screen and (max-width: 665px) {
  .table-wrapper {
    overflow-x: auto;
  }
}

table {
  border-collapse: collapse;
}

.table-big {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-width: 35rem;
}

.table-big caption {
  padding: 1rem;
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
}

thead {
  top: 0;
  position: sticky;
  background-color: var(--font-main-color);
  color: var(--bg-main-color);
}

/* .table-big tbody th {
  background-color: var(--bg-sec-color);
} */

.table-big tbody tr.group-header {
  background-color: var(--bg-sec-color);
}

.table-big tbody tr:not(.group-header) {
  transition: background-color 200ms linear;
}

.table-big tbody tr:not(.group-header) * {
  transition: color 200ms linear;
}

.table-big tbody tr:not(.group-header):hover {
  color: var(--bg-main-color);
  background-color: var(--font-sec-color);
}

.table-big tbody tr:not(.group-header):hover * {
  color: var(--bg-main-color);
}

th,
td {
  padding: 0.8rem;
  /* border: 0.1rem solid var(--border-color); */
}

.table-vertical th {
  text-align: left;
}

.table-big th,
.table-big td {
  text-align: center;
}

.data-table th {
  text-align: left;
}

.data-table th .help {
  display: inline-block;
  background-image: url("../img/help.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.9rem;
  width: 1rem;
  opacity: 0.8;
}

article > footer {
  font-style: italic;
  margin-top: 2rem;
}

body > footer {
  text-align: center;
  padding: 2rem;
}

body > footer > div {
  margin: 1rem;
}

body > footer .social {
  margin: 0 auto;
}

body > footer .social ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

body > footer .social li {
  height: 2rem;
  width: 2rem;
  padding: 0.1rem;
  margin-left: 1rem;
}

body > footer .social img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.list-of-calibers {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.caliber-list {
  flex: 16rem;
  padding: 1rem;
}

.caliber-list li {
  font-size: 1.1rem;
  margin: 0.3rem;
}

.item-info {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1rem;
}

.item-info .description {
  flex: min-content;
}

.item-info .data-table {
  padding: 1rem;
  background-color: var(--bg-sec-color);
}

.item-info .data-table caption {
  margin-bottom: 0.5rem;
}

.item-info .data-table th,
.item-info .data-table td {
  padding: 0.6rem;
}

.graphs {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  width: 100%;
}

.graphs .graph {
  flex: 50%;
  min-width: 36rem;
}

.graph svg {
  width: 100%;
}

.poloto_background {
  fill: none;
}

.poloto_text {
  fill: var(--font-main-color);
}

.poloto_labels {
  font-size: 1.2rem;
  font-weight: bold;
}

.poloto_axis_lines {
  stroke: var(--font-sec-color);
}

.poloto_line {
  stroke: var(--font-main-color);
  stroke-width: 0.1rem;
}

.poloto_tick_line {
  stroke: rgba(200, 200, 200, 0.2);
}
